@import "tailwindcss";

:root {
  --background: #e8efd6;
  --foreground: #1e2330;
  --font-inter-sans: "Inter", sans-serif;
  --font-bri-mono: "Bricolage Grotesque", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter-sans);
  --font-bri: var(--font-bri-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
